{% extends "base.html" %}
{% block head %}

<h1> HI, Welcome to Generating Password Randomly. </h1>
<h2> Here we can generate Random Dummy Password for one time use. </h1>
<p> We are using Flask web framework.</p>
<p> Yup Bro, Flask is popular. Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>
<h4>Easy project right!, If you face any diffuclty or have any query. Reach out to me at praj3399@gmail.com</h4>
{% endblock %}
